/*stylesheet*/
h1 {
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1%;
  background-color: black;
  color: white;
}
h3 {
  font-size: 25px;
  border: 5rem;
  padding: 1%;
  background-color: black;
  color: white;
}
p {
  font-size: 17px;
  padding: 1%;
  background-color: black;
  color: white;
}
header,
nav {
  background-color: rgb(0, 0, 0);
}
a,
a:link {
  color: white;
  text-decoration: none;
}
ul {
  color: white;
}
